.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.banner{
  background: #000000 url(https://img13.static.yhbimg.com/yhb-img02/2016/11/22/10/020a09847e9f2e40a12c8d78db739ad62c.jpg?imageMogr2/auto-orient/strip/thumbnail/x45/crop/1920x45);
  height: 45px;
  width: 100%;
  a{
    color: #000000;
  }
  img{
    display: block;
    height: 45px;
  }
  .opt{
    margin-top: 5px;
  }
  .home{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-right: 5px;
  }
}
.detailsBox{
  width: 1150px;
  min-height: 560px;
  .img{
    position: relative;
    width: 420px;
    height: 600px;
    left: 0;
  }
  .tags{
    position: absolute;
    top: 0;
    left: 0;
  }
  .img-show{
    display: block;
    width: 420px;
    height: 560px;
  }
  #big{
    position: absolute;
  }
  .move{
    position: absolute;
    width: 314px;
    height: 314px;
    background: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/product/move.png?173272e9025);
    right: 0;
  }
  .move-over{
    position: absolute;
    width: 420px;
    height: 560px;
    z-index: 2;
    top: 0;
    left: 0;
    background: url(img/product/transparent.gif?173272e9029);
  }
  .max{
    width: 558px;
    height: 558px;
    border: 2px solid #b0b0b0;
    background: #fff;
    overflow: hidden;
    left: 515px;
    z-index: 100;
    display: block;
    position: absolute;
    top: 0;
  }
  .hide{
    display: none!important; 
  }

  .thumbs{
    width: 75px;
    height: 560px;
    margin-left: 10px;
    margin-right: 60px;
    overflow: hidden;
    .thumb{
      display: block;
      width: 71px;
      height: 96px;
      cursor: pointer;
      margin-bottom: 15px;
      border:2px solid #b0b0b000;
    }
    .active{
      border:2px solid #000;
    }
  }
  .infos{
    width: 585px;
  }
  .name{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  .line{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #eaeceb;
    margin:20px 0;
  }
  .price-row{
    display: inline-block;
    height: 20px;
    margin-bottom: 10px;
  }
  .title{
    color: #000;
    font-size: 13px;
    letter-spacing: 5px;
    line-height: 20px;
  }
  .price{
    color: #000;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
  }
  .other-price{
    color: #444;
    text-decoration: line-through;
    font-size: 13px;
  }
  .desc{
    display: inline-block;
    margin-left: 20px;   
  }
  .promotion{
    display: inline-block;
    color: #d0021b;
    border: 1px solid #d0021b;
    font-size: 12px;
    padding: 2px 4px;
    margin-right: 20px;
    line-height: 1;
  }
  .row{
    margin-bottom: 10px;
  }
  .activity-wrapper{
    position: relative;
    width: 100%;
    margin-top: 10px;
    .activity-title{
      height: 22px;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      cursor: pointer;
      z-index: 6;
    }
    .activity li{
      margin-bottom: 8px;
      .type{
        display: inline-block;
        width: 70px;
        height: 20px;
        line-height: 20px;
        margin-right: 5px;
        text-align: center;
        background: #b0b0b0;
        color: #fff;
        font-size: 12px;
      }
      .des{
        width: 320px;
        font-size: 13px;
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        cursor: pointer;
        &:hover{
          color: #d0021b;
        }
      }
    }
  }
  .chose-color{
    font-size: 12px;
    .title{
      margin-top: 8px;
    }
    ul{
      width: 510px;
      margin-top: -8px;
      li{
        margin-right: 10px;
        cursor: pointer;
        border: 1px solid #999;
        height: 34px;
        margin-top: 8px;
        margin-bottom: 0;
        &.focus{
          border-color: #000;
        }
      }
    }
    img{
      float: left;
      display: inline-block;
      width: 25px;
      height: 34px;
    }
    .color-name{
      float: left;
      height: 34px;
      line-height: 34px;
      text-align: center;
      margin-left: 8px;
      margin-right: 10px;
    }
  }
  .chose-size{
    font-size: 12px;
    .title{
      margin-top: 4px;
    }
    .sizes{
      width: 510px;
      position: relative;
    }
    .size{
      float: left;
      color: #000;
      margin-top: -8px;
      li{
        float: left;
        display: block;
        height: 24px;
        line-height: 24px;
        margin-right: 8px;
        margin-top: 8px;
        padding: 0 10px;
        border: 1px solid #999;
        text-align: center;
        cursor: pointer;
        min-width: 10px;
        &.focus{
          color: #fff;
          background-color: #222;
          border: 1px solid #222;
        }
        &.disable{
          opacity: 0.5;
        }
      }
    }
  }
  .color-size-tip{
    font-size: 13px;
    color: #999;
    clear: both;
    line-height: 25px;
  }
  .chose-count{
    .title{
      margin-top: 4px;
    }
    .num-wraper{
      position: relative;
      .minus-plus{
        display: block;
        width: 25px;
        height: 25px;
        border: 1px solid #b0b0b0;
        text-align: center;
        cursor: pointer;
        background: #e0e0e0;
      }
      .num{
        display: block;
        width: 50px;
        height: 25px;
        line-height: 27px;
        text-align: center;
        border: 1px solid #000;
        color: #000;
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .buy-btn{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 46px;
    line-height: 46px;
    width: 180px;
    text-align: center;
    color: #fff;
    background: #d0021b;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    &.dis{
      background-color: #ccc;
    }
  }
  .collect-product{
    display: inline-block;
    width: 140px;
    height: 46px;
    text-align: center;
    line-height: 42px;
    margin-bottom: 15px;
    background: #fff;
    color: #222;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  .support-service{
    margin-bottom: 15px;
    .item{
      margin-right: 10px;
    }
    .more{
      color: #d0021b;
      cursor: pointer;
      font-size: 13px;
    }
  }
  .code-buy{
    display: block;
    width: 180px;
    height: 92px;
    text-align: center;
    line-height: 42px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: #fff;
    color: #222;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
  }
}
.total-content{
  position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    margin-top: 30px;
}
.after-service{
  text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
}