
.main{
  overflow: hidden;
  p{
    display: block;
    width: 990px;
    height: 25px;
    background-color: #f5f5f5;
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
    span{
      color: red;
    }
  }
  &>.left{
    margin:107px 0;
    padding: 50px 0;
    border-right: 1px solid #dfdfdf;
    height: 318px;
    width: 575px;
    float: left;
    .cover-img{
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
  form{
    float: left;
    .loginBox{
      margin-top: 107px;
      padding-left: 85px;
      .login-type{
        width: 270px;
        height: 46px;
        margin-bottom: 25px;
        #device-bg{
          width: 40px;
          height: 40px;
          background: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.passport.png?t=1594090252043) no-repeat -369px -108px;
          float: right;
          cursor: pointer;
        }
        .type-tip{
          width: 120px;
          height: 30px;
          background: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.passport.png?t=1594090252043) no-repeat -323px -70px;
          float: right;
          background-size: 595px 298px;
        }
      }
      .desktop-login{
        &>div{
          margin-bottom: 25px;
        }
        .relative{
          position: relative;
        }
        .title{
          float: left;
          font-size: 20px;
        }
        .country{
          float: right;
          color: #b9b9b9;
        }
        .login-switch{
          height: 27px;
          background: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.passport.png?t=1594090252043) no-repeat -323px 0;
          border-radius: 13px;
          font-size: 14px;
          .left{
            width: 146px;
            height: 27px;
            text-align: center;
            line-height: 27px;
            border-radius: 13px;
            position: absolute;
            left: 0;
            cursor: pointer;
          }
          .right{
            width: 146px;
            height: 27px;
            text-align: center;
            line-height: 27px;
            border-radius: 13px;
            position: absolute;
            right: 0;
            cursor: pointer;
          }
          .selected{
            background: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.passport.png?t=1594090252043) no-repeat -323px -35px;
            color:white;
          }
        }
        input{
          width: 268px;
          height: 43px;
          border: 1px solid #dbdbdb;
          color: (0,0,0,0.5);
          text-indent: 10px;
          font-size: 16px;
          line-height: 1.2;
          outline: none;
        }
        .captcha{
          width: 174px;
          height: 86.4px;
        }
        button{
          width: 274px;
          height: 46px;
          background-color: #ff1901;
          color: #fff;
          text-align: center;
          letter-spacing: 10px;
          font-size: 20px;
          line-height: 46px;
          border: none;
          outline: none;
          cursor: pointer;

        }
      }
    }
  }
}