header{
  border-bottom:2px solid #222 ;
  margin: 0 0 20px;
  .top{
    width: 990px;
    .logo{
      display: block;
      float: left;
      line-height: 66px;
      font-size: 0;
      // height: 66px;
      img{
        vertical-align: middle;
        border: none;
      }
    }
    ul{
      float: right;
      li{
        float: left;
        line-height: 66px;
        padding: 0 10px;
        a{
          color: #000;
        }
      }
    }
  }
}

.main{
  overflow: hidden;
  p{
    display: block;
    width: 990px;
    height: 25px;
    background-color: #f5f5f5;
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
    span{
      color: red;
    }
  }
  &>.left{
    margin:107px 0;
    padding: 50px 0;
    border-right: 1px solid #dfdfdf;
    height: 318px;
    width: 575px;
    float: left;
    .cover-img{
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
  form{
    float: left;
    .loginBox{
      margin-top: 107px;
      padding-left: 85px;
    }
  }
}