* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.center-content {
  width: 1150px;
  margin: 0 auto;
}

header {
  width: 100%;
}
header .head {
  height: 32px;
  background-color: #f4f4f4;
  font-size: 12px;
}
header .head .left {
  float: left;
  padding: 0 5px;
  font-size: 12px;
  line-height: 32px;
}
header .head .group {
  position: relative;
}
header .head .group span {
  display: inline-block;
  background-image: url(../img/sprite.scss.png);
  background-size: 123px 122px;
  background-position: -19px -86px;
  width: 16px;
  height: 12px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
header .head .group a {
  color: #000000;
}
header .head .group:hover {
  background-color: #dcdcdc;
}
header .head .group .groupMap {
  position: absolute;
  padding: 20px 0 20px 20px;
  top: 32px;
  background-color: #f4f4f4;
  margin-left: -5px;
  z-index: 9;
  display: none;
}
header .head .group .groupMap li {
  width: 170px;
  color: #9196a0;
  font-size: 14px;
  cursor: pointer;
}
header .head .group .groupMap li:hover {
  color: #000000;
}
header .head .group:hover > .groupMap {
  display: block;
}
header .head .info {
  margin-left: 20px;
  padding: 0 1px;
}
header .head .info span {
  display: inline-block;
  background-image: url(../img/sprite.scss.png);
  background-size: 123px 122px;
  background-position: -107px -22px;
  width: 15px;
  height: 14px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
header .head .info a {
  color: #d71d32;
}
header .head ul {
  float: right;
  line-height: 32px;
  color: #000000;
}
header .head ul li {
  float: left;
  padding-right: 10px;
}
header .head ul li a {
  color: #8e8e8e;
}
header .head ul li .span-tg {
  width: 0;
  margin-top: 11px;
  margin-right: 12px;
  height: 14px;
  float: left;
  border-left: 1px solid #dcdcdc;
}
header .head ul li:nth-child(2) > .span-icon {
  display: inline-block;
  background-image: url(../img/sprite.scss.png);
  background-size: 123px 122px;
  background-position: -64px -86px;
  width: 10px;
  height: 5px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
header .head ul li:nth-child(3) > .span-icon {
  display: inline-block;
  background-image: url(../img/sprite.scss.png);
  background-size: 123px 122px;
  background-position: 0px -86px;
  width: 11px;
  height: 14px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
header .head ul li:nth-child(4) > .span-icon {
  display: inline-block;
  background-image: url(../img/sprite.scss.png);
  background-size: 123px 122px;
  background-position: -107px -44px;
  width: 15px;
  height: 13px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
header .head ul li:nth-child(5) > .span-icon {
  display: inline-block;
  background-image: url(../img/sprite.scss.png);
  background-size: 123px 122px;
  background-position: -107px -65px;
  width: 16px;
  height: 11px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
header .head ul li:nth-child(7) > a {
  color: #86bf4a;
}
header .head ul li:last-child > a {
  color: #d71d32;
}
header .search {
  height: 87px;
}
header .search h1 {
  width: 182px;
  height: 53px;
  margin-top: 22px;
  position: absolute;
  left: 43%;
  background: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/layout/logo-en.png?173272e8fce) no-repeat 50%;
  cursor: pointer;
}
header .search .search-right {
  float: right;
  margin-top: 40px;
}
header .search .search-right form {
  float: left;
}
header .search .search-right input {
  width: 228px;
  height: 24px;
  padding: 1px,2px,1px,10px;
}
header .search .search-right a {
  display: inline-block;
  width: 78px;
  height: 28px;
  vertical-align: top;
  background: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/layout/search.png?173272e8fd2) no-repeat 50%;
  background-color: #000000;
  border: none;
  cursor: pointer;
}
header nav {
  background-color: #3a3a3a;
  height: 40px;
}
header nav li {
  float: left;
  font-size: 14px;
  line-height: 40px;
  padding-right: 46px;
  margin-right: 36px;
}
header nav li a {
  color: white;
  cursor: pointer;
}
header nav li a:hover {
  border-bottom: 2px solid white;
}

footer {
  background-color: #000000;
  color: white;
  box-sizing: border-box;
}
footer .promise {
  height: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}
footer .promise li {
  float: left;
  margin-right: 60px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 700;
}
footer .promise li .promise-red {
  color: red;
  margin-right: 3px;
}
footer .footerHelp {
  line-height: 24px;
  padding: 15px 0;
  border-top: 1px solid #666;
}
footer .footerHelp dl {
  float: left;
  margin-left: 123px;
}
footer .footerHelp dl dt {
  height: 24px;
}
footer .footerHelp dl dd {
  height: 24px;
  color: #666;
}
footer .footerHelp dl dd a {
  color: #666;
}
footer .footerHelp dl dd a:hover {
  border-bottom: 1px solid #666;
}
footer .footerHelp dl:first-child {
  margin-left: 0;
}
footer .footer-link {
  padding: 10px 0 14px 0px;
  position: relative;
}
footer .footer-link .left-flag {
  margin-top: 3px;
  position: absolute;
  left: 0;
  top: 12px;
}
footer .footer-link .left-flag a {
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin-right: 8px;
  background-color: #fff;
  height: 34px;
}
footer .footer-link .left-flag a:first-child > img {
  margin-top: 5px;
}
footer .footer-link .links {
  padding-left: 300px;
  word-break: keep-all;
  font-size: 12px;
  line-height: 20px;
}
footer .footer-link .links a {
  color: #666;
}
footer .footer-link .links span {
  padding: 0 10px;
  color: #666;
}
footer .footer-link .copyright {
  color: #666;
  text-align: center;
  padding-top: 20px;
}
footer .footer-container {
  line-height: 48px;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

/*# sourceMappingURL=current.css.map */
