header {
  border-bottom: 2px solid #222;
  margin: 0 0 20px; }
  header .top {
    width: 990px; }
    header .top .logo {
      display: block;
      float: left;
      line-height: 66px;
      font-size: 0; }
      header .top .logo img {
        vertical-align: middle;
        border: none; }
    header .top ul {
      float: right; }
      header .top ul li {
        float: left;
        line-height: 66px;
        padding: 0 10px; }
        header .top ul li a {
          color: #000; }
